@import './scss/config.scss';
@import './scss/reset.scss';

body {
    background: rgba($red, 0.4);
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: white;
            margin: 1rem;
        }
    
        img {
            width: 300px;
            height: auto;
            margin: 3rem;
        }
    }
}