// Colors
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$white: #ffffff;
$black: #000000;

//Typos
$regular: 1.6rem;

// Size
$mobile: 640px;
$tablet: 768px;

//Media Queries Example
// @media (max-width: $mobile) {
//     height: 100%;
// }

//Mixins
@mixin MyMixin {
    color: $red;
}
